<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink] = "['/']">Vehicle Service Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink] = "['/']" aria-current="page" href="#">Home</a>
        </li>
         <!--<li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> -->
        <!-- <ng-container *ngIf="user !== undefined && user?.role?.includes('Admin')"> -->
          <ng-container>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink] = "['/admin/customers']">Customer Management</a></li>
            <li><a class="dropdown-item" [routerLink] = "['/admin/vehicles']">Vehicle Management</a></li>
            <li><a class="dropdown-item" [routerLink] = "['/admin/materials']">Material Management</a></li>
            <li><a class="dropdown-item" [routerLink] = "['/admin/servicerepresentatives']">Service Representative Management</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink] = "['/']">Service Management</a></li>
          </ul>
        </li>
      </ng-container>
      <ng-container *ngIf="user !== undefined && user?.role?.includes('Service Advisor')">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Service Advisor
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Service Advisor</a></li>
          </ul>
        </li>
      </ng-container>
      </ul>
      
      <span class="navbar-text">
        <!-- conditional rendering -->
        <ng-container *ngIf="user === undefined;else showLogout">
          <a [routerLink] = "['/login']" class="text-decoration-none">Login</a>
        </ng-container>
        <ng-template #showLogout>
          <div class="d-flex align-items-center">
            <span>{{user?.email}}</span>
            <button class="btn btn-secondary ms-3" (click)="onLogout()">Logout</button>
          </div>
        </ng-template>
      </span>
    </div>
  </div>
</nav>