

<ng-container *ngIf="model" ;else notFound>
  <div class="container">
    <h1 class="mt-3 text-center">Edit Vehicle</h1>
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
      <div class="mt-4">
        <div class="mt-3">
          <label class="form-label">Vehicle Category</label>
          <input
            type="text"
            id="vehicleCategory"
            class="form-control"
            name="vehicleCategory"
            [(ngModel)]="model.vehicleCategory"
          />
        </div>

        <div class="mt-3">
          <label class="form-label">Vehicle Registration Number</label>
          <input
            type="text"
            id="vehicleRegNo"
            class="form-control"
            name="categoryRegNo"
            [(ngModel)]="model.vehicleRegNo"
          />
        </div>

        <div class="mt-3">
          <label class="form-label">Vehicle Number</label>
          <input
            type="text"
            id="vehicleNumber"
            class="form-control"
            name="categoryNumber"
            [(ngModel)]="model.vehicleNumber"
          />
        </div>

        <div class="mt-3">
          <label class="form-label">Vehicle Model</label>
          <input
            type="text"
            id="vehicleModel"
            class="form-control"
            name="categoryModel"
            [(ngModel)]="model.vehicleModel"
          />
        </div>

        <div class="mt-3">
          <label class="form-label">Vehicle Brand</label>
          <input
            type="text"
            id="vehicleBrand"
            class="form-control"
            name="categoryBrand"
            [(ngModel)]="model.vehicleBrand"
          />
        </div>

        <div class="mt-3">
          <button class="btn btn-secondary" type="submit">Save Vehicle</button>
        </div>
      </div>
    </form>
  </div>
</ng-container>

<ng-template #notFound>
  <div class="alert alert-dark" role="alert">
    Vehicle Not Found!
  </div>
</ng-template>
