

<div class="container">

  <div class="mt-5">

    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="/assets/images/carwash.jpg" height="450px" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-light fw-bolder fs-3">Car Wash</h5>
            <p class="text-light fw-bolder">Best Car wash service at Prime Automobile PVT. LTD.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/assets/images/carservice.jpg" height="450px" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-light fw-bolder fs-3">Car Service</h5>
            <p class="text-light fw-bolder">Best Car service at Prime Automobile PVT. LTD.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/images/engineoil.jpg" height="450px" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
             <h5 class="text-light fw-bolder fs-3">Engine Oil Change</h5>
            <p class="text-light fw-bolder">Change engine oil withing a Blink !! at Prime Automobile PVT. LTD.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/images/tyrechange.jpg" height="450px" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-light fw-bolder fs-3">Tyre Change</h5>
            <p class="text-light fw-bolder">Change tyre withing a Blink !! at Prime Automobile PVT. LTD.</p>
          </div>
        </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    

   <div class="row mt-4">
  
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img
            src="/assets/images/carwash.jpg"
            height="200px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Car Wash</h5>
            <p class="card-text">
             Immerse your vehicle in a revitalizing bath, leaving behind a
              sparkling exterior that not only looks great but also protects your
              car's paintwork. Elevate your driving experience with our
              professional car washing service.
            </p>
          </div>
        </div>
      </div>
     
  
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img
            src="/assets/images/carservice.jpg"
            height="200px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Car Service</h5>
            <p class="card-text">
              Unleash the full potential of your vehicle with our comprehensive
              car servicing. Our expert technicians delve into every detail,
              conducting thorough inspections and fine-tuning your car for peak
              performance.
            </p>
          </div>
        </div>
      </div>
  
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img
            src="/assets/images/engineoil.jpg"
            height="200px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Oil Change</h5>
            <p class="card-text">
              The heart of your vehicle deserves the best care, and our oil change
              service is here to deliver exactly that. Follow the recommended
              intervals to keep your engine running smoothly and efficiently.
            </p>
          </div>
        </div>
      </div>
  
      
  
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img
            src="/assets/images/tyrechange.jpg"
            height="200px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Tire Change</h5>
            <p class="card-text">
              Your safety is our priority, and our tire change service reflects
              this commitment. When it's time for a change, high-quality
              tires. Enjoy enhanced traction, superior handling, and improved
              braking capabilities.
            </p>
          </div>
        </div>
      </div>
  
    </div> 
  </div>


</div>
