<div class="mt-5">
  <div class="row">
    <div class="col-3">
      <div class="card m-4" style="width: 18rem">
        <img
          src="/assets/images/carservice.jpg"
          height="200px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Car Service</h5>
          <p class="card-text">
            Unleash the full potential of your vehicle with our comprehensive
            car servicing. Our expert technicians delve into every detail,
            conducting thorough inspections and fine-tuning your car for peak
            performance.
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card m-4" style="width: 18rem">
        <img
          src="/assets/images/engineoil.jpg"
          height="200px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Oil Change</h5>
          <p class="card-text">
            The heart of your vehicle deserves the best care, and our oil change
            service is here to deliver exactly that. Follow the recommended
            intervals to keep your engine running smoothly and efficiently.
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          src="/assets/images/tyrechange.jpg"
          height="200px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Tire Change</h5>
          <p class="card-text">
            Your safety is our priority, and our tire change service reflects
            this commitment. When it's time for a change, our skilled
            professionals will equip your vehicle with fresh, high-quality
            tires. Enjoy enhanced traction, superior handling, and improved
            braking capabilities.
          </p>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          src="/assets/images/carwash.jpg"
          height="200px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Car Wash</h5>
          <p class="card-text">
           Immerse your vehicle in a revitalizing bath,
            meticulously cleansing away dirt and grime, leaving behind a
            sparkling exterior that not only looks great but also protects your
            car's paintwork. Elevate your driving experience with our
            professional car washing service.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
